!secrets/.gitkeep
secrets/*
!*.env.example
*.env
/home/*/data/
.docker/
docker-compose.override.yml
.vscode/
*.pdf
# *.md
*.swp
*.swo
*~
.DS_Store*
._*
Thumbs.db
*.log
logs/*
*.tmp
*.temp
*.bak
*.backup
